@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
@@font-face {
  font-family: 'Libre-Baskerville';
  src: url('../police/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype'),
  url('../police/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('truetype'),
  url('../police/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}
:root
{
  --silver: #C0C0C0;
  --royalblue: #4169E1;
  --skyblue: #87CEFA;
  --gold: #FFD700;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, var(--royalblue), var(--skyblue));
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
}
