@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
@@font-face {
  font-family: 'Libre-Baskerville';
  src: url('../police/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype'),
  url('../police/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('truetype'),
  url('../police/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}
:root
{
  --clr: #FF0000;
  --clr01: #B22222;
  --clr02: #FE1B00;
  --clr03: #6E0B14;
  --clr1: #ffffff;
  --clr2: #000000;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr2);
  flex-direction: column;
}
